html
  head
    title DashUp
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    //
       JQuery main 
    script(type='text/javascript', src='js/jquery/jquery.min.js')
    //
       Modernizr 
    script(src='js/groundwork/js/libs/modernizr-2.6.2.min.js')
    //
       Groundwork 
    link(type='text/css', rel='stylesheet', href='js/groundwork/css/groundwork.css')
    //if IE
      link(type='text/css', rel='stylesheet', href='js/groundwork/css/groundwork-ie.css')
    //if lt IE 9
      script(type='text/javascript', src='js/groundwork/js/libs/html5shiv.min.js')
    //if IE 7
      link(type='text/css', rel='stylesheet', href='js/groundwork/css/font-awesome-ie7.min.css')
    script(type='text/javascript', src='js/groundwork/js/groundwork.all.js')
    //
       Gridster Dashboard 
    link(rel='stylesheet', type='text/css', href='js/gridster/jquery.gridster.min.css')
    script(type='text/javascript', src='js/gridster/jquery.gridster.js', charset='utf-8')
    //
       Sidr menu 
    link(rel='stylesheet', type='text/css', href='js/sidr/stylesheets/jquery.sidr.dark.css')
    script(src='js/sidr/jquery.sidr.min.js')
    //
       leanModal 
    script(type='text/javascript', src='js/leanModal/jquery.leanModal.min.js', charset='utf-8')
    //
       Undescore 
    script(type='text/javascript', src='js/underscore/underscore.min.js', charset='utf-8')
    //
       momentjs 
    script(type='text/javascript', src='js/momentjs/moment.min.js', charset='utf-8')
    //
       chartjs 
    script(type='text/javascript', src='js/chartjs/chart.min.js', charset='utf-8')
    //
       pie-chart 
    link(rel='stylesheet', type='text/css', href='js/retro-easy-pie-chart/jquery.easy-pie-chart.css')
    script(type='text/javascript', src='js/retro-easy-pie-chart/jquery.easy-pie-chart.js', charset='utf-8')
    //
       Charts 
    //
       morris 
    script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
    link(rel='stylesheet', type='text/css', href='js/morris/morris.css')
    script(src='js/morris/morris.min.js')
    //
       end Charts 
    //
       Socket.io client 
    script(src='/socket.io/socket.io.js')
    //
       DashUp Core 
    script(type='text/javascript', src='js/uuid.js', charset='utf-8')
    script(type='text/javascript', src='js/dashup/dashup.js', charset='utf-8')
    link(rel='stylesheet', href='js/dashup/dashup.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/dashup-skin/dashup-skin-dark.css')
  body
    .dashup-container
      .row.header
        #logo.seven.tenths
          img.header-logo(src='img/dashup_logo.png')
        #toolbar.three.tenths
          .header-buttons
            ul.button-list.small.asphalt(style='')
              li
                a(href='#', onclick='createDashboardWidget(\'chart\')')
                  span Add widget...
              li
                a(href='#', onclick='createDashboardWidget(\'clock\')')
                  span Clock
              li
                a(href='#', onclick='createDashboardWidget(\'gauge\')')
                  span Gauge
              li
                a(href='#', onclick='createDashboardWidget(\'text\')')
                  span Text
              li
                a(href='#', onclick='createDashboardWidget(\'counter\')')
                  span Counter
              li
                a(href='#', onclick='createDashboardWidget(\'lineChart\')')
                  span Line
              li
                a#settings-menu(href='#sidr') Settings
      #user-toolbar-options.toolbar-icons(style='display: none;')
        a(href='#')
          i.icon-user
        a(href='#')
          i.icon-star
        a(href='#')
          i.icon-edit
        a(href='#')
          i.icon-delete
        a(href='#')
          i.icon-ban
      #sidr
        //
           Your content 
        ul
          li
            a(href='#') List 1
          li.active
            a(href='#') List 2
          li
            a(href='#') List 3
      //
         Dashboard Widgets 
      .gridster
        ul
    script(type='text/javascript')
      $(function(){ //DOM Ready

      //initialize the dashboard component   
      initDashup();
      
      // Only for demo 
      /*
      createDashboardWidget('clock');
      createDashboardWidget('text');
      createDashboardWidget('gauge');
      */
      
      // load persisted dashboard widgets
      loadDashboardData("default");

      $('#settings-menu').sidr({
      side: 'right'
      });
      });
      function createDashboardWidget(widgetType){
      if (widgetType=='clock'){
      createClockWidget();
      } else if (widgetType=='gauge'){
      createGaugeWidget();
      } else if (widgetType=='text'){
      createTextWidget();
      } else if (widgetType=='counter'){
      createCounterWidget();
      } else if (widgetType=='timeSeries'){
      createTimeSeriesWidget();
      } else if (widgetType=='lineChart'){
      createLineChartWidget();
      }
      }
