.gridster .gs_w {
    background: #2a2a2a;
}

.dashup-widget-header {
	background: #272727;
	color:#828282;
}

.dashup-widget-content {
	background: #2a2a2a;
}

.dashup-widget-footer {
	background: #272727;
	color:#828282;
}

.big-text {
	color: #FFFFFF;
} 

.dark-bk-color {
    background: #2a2a2a;
}

.normal-bk-color {
    background: #272727;
}


