
<div class="dashup-widget" type="dashup.base.counter" id="widget-<%= wuid %>">
		<div class="widget-header">
			<div class="widget-header-content">
				<%= title %>
			</div>
		</div>
		<div class="widget-container">
			<div class="widget-container-content">
				<p class="counter-widget-text" id="counter-<%= wuid %>">--</p>
			</div>
		</div>
		<div class="widget-footer">
			<a class="widget-footer-content">footer</a>
		</div>
</div>

<script>

  socket.on('simple-counter',function(data){
  	$('#counter-<%= wuid %>').html(data);
  });

</script>


