<div class="dashup-widget" type="dashup.base.text" id="<%= wuid %>">
		<div class="widget-header">
			<div class="widget-header-content">
				<%= title %>
			</div>
		</div>
		<div class="widget-container">
			<div class="widget-container-content">
				<p class="text-widget-content" id="textContent-<%= wuid %>">Text Widget</p>
			</div>
		</div>
		<div class="widget-footer">
			<a>This is a footer</a>
			<div class="footer-button footer-icon icon-cogs"></div>
			<div class="footer-button footer-icon icon-trash"></div>
		</div>
</div>


<script>

  socket.on('updateValue.text.simpleExample',function(data){
  	console.log("update data arrived for "+ data);
  	$('#textContent-<%= wuid %>').html(data.text);
  });

</script>
